*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
    height: 100vh;
    width: 100vw;
    background: #111;
    color: white;
}
#box1{
    height: 150px;
    width: 150px;
    background-color: crimson;
}
#box2{
    height: 150px;
    width: 150px;
    background-color: lightseagreen;
}
#box3{
    height: 150px;
    width: 150px;
    background-color: rgb(81, 247, 106);
}

#nav{
    width: 100vw;
    background-color: bisque;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
#navMain{
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20;
}