*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
    height: 100vh;
    width: 100vw;
}
body{
    background-color: #111;
    overflow-x: hidden;

}
#page1,#page2, #page3{
    height: 100vh;
    width: 100%;
}
#move{
    background-color: #d8ff04;
    display: flex;
    padding: 3vw 0;
}
.marque h1{
    font-size: 4vw;
}
.marque{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 2vw;
    padding: 0 1.5vw;
    transform: translateX(-100%);
}
.marque img{
    height: 40px;
    font-weight: 900;
}