*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
    height: 100vh;
    width: 100vw;
}
body{
    overflow-x: hidden;
}
#main{
    height: 100%;
    width: 100%;
    background-image: url(https://media.istockphoto.com/id/1324413691/photo/beautiful-sky-with-white-clouds.webp?a=1&b=1&s=612x612&w=0&k=20&c=ObD1-_kC5rToc1HWTpswNu5O4itdNsPz7cENhYYngzU=);
    background-size: cover;
    background-position: center;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    color: #fff;
}
#nav i {
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;

}
#nav h2{
    font-size: 25px;
}
#full{
    height: 100%;
    width: 30%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.465);
    top: 0;
    right: -30%;
    backdrop-filter: blur(20px);
    padding: 100px 60px;

}
#full h4{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}
#full i{
    position: absolute;
    top: 5%;
    right: 6%;
    background-color: #fff;
    padding: 10px;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}