* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    /* background: #111; */
}
#main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cursor{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #fff;
    position: fixed;
    font-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 9;
}
#image{
    height: 30vw;
    width: 60vw;
    background-color: red;
    /* background-color: rgba(202, 201, 201, 0.237); */
    position: relative;
}
#image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}